* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    background-color: #E74E74;
}


.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    height: 60px;
    background-color: whitesmoke;
}
.container-busca {


}

.buscador {
    height: calc(100vh - 120px);
}

.menu-footer {
    height: 60px;
    background-color: whitesmoke;
    align-self: auto;
}